* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
font-family: 'Cardo', serif;
font-family: 'Unna', serif;
line-height: 25px;


  }
  
  .navbar-expand{
    margin-bottom:19px ;
  }

  .nav-link {
    color: black;
    font-weight:bolder;
    margin-right: 50px;
    font-size: 15px;

  }

  .nav-link:hover {
    color: darkgoldenrod;
     
    transition: 1s;
    width: 80%;

  }

  .navbar .logo {
    display: flex;
    margin-left: 2px;
justify-content: center;
margin-top: -13px;

  }


  .container-fluid{
    justify-content: flex-end;
    color: beige;
  }

  

  .dropdown-item:hover {
    color: white;
    background-color: darkgoldenrod;
    box-shadow: 50px solid darkgoldenrod;
    transition: 1s;
    width: 150px;

  }
  .navbar-expand{
    justify-content: center;
  }

/* video{
height: 100%;
width: 900px;
object-fit: cover;
position: absolute;
top: 0; left: 0;
filter: brightness(0.6);
z-index: -1;
} */




.About{
margin-top:21px;
 width:100%;
height: 700px;
}
/* .About .container-fluid{
 box-shadow: 10px 10px 10px black;
} */

h1{
color:black; 
font-style: oblique;
/* font-weight:bolder; */

}
p{
font-size: 20px;
 
 color:rgb(15, 2, 2);
 margin-left: 10px;
 margin-right:  -10px;
 /* font-style: oblique; */
 
}

#BG{
 width: 101.3%;
z-index: -1;
height: auto;
margin-top: 80px;
/* box-shadow: 10px 10px 10px black; */
margin-left: -10px;
margin-right:  5px;
}

h5{
/* font-family: 'DM Serif Text', serif; */
font-size: 20px;
font-weight:900;
color:rgb(15, 2, 2);
}
/* .About img{
box-shadow: 10px 10px 10px black;
} */


.card-body{
background-color: burlywood;
box-shadow:   10px 10px 20px black;
 transform: translate(0px,-8px);
 transition: 1s; 

}
.card  img{
 /* border: 2px solid black; */
  box-shadow:   10px 10px  20px black;
 transform: translate(0px,-8px);
 transition: 1s; 
width: 9em;
height: 9em;
background-color: rgb(19, 12, 2);
padding: 0.5em; 


}
#card1{
box-shadow:   10px 10px  20px black;
 transform: translate(0px,-8px);
 transition: 1s; 
width: 9em;
height: 9em;
background-color: rgb(19, 12, 2);
padding: 0.5em; 

}








h6{
margin-top: 20px;

color: black;
}
marquee{
background-color: black;

}